@import "tailwindcss";
@plugin "daisyui";

/* google font */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.container {
  max-width: 1200px;
  margin: 0 auto;
}
ul, ol li {
  list-style: none;
}
a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}